NG_APP_SYSTEM_NAME=Tribunal de Ética Médica
NG_APP_PUBLIC_KEY=
NG_APP_API_V2=
NG_APP_API_V3=
NG_APP_API_BASE_URL=https://your-api-url.com/api/admin
NG_APP_ENCRYPTION_SECRET_KEY=
NG_APP_MENU_TITLE=Menú Principal
