<div class="form-control w-full">
  @if (label()) {
    <label class="label">
      <span class="label-text">{{ label() }}</span>
    </label>
  }
  
  <div class="relative">
    <input
      #dateInput
      type="text"
      [class]="getInputSizeClass() + ' input input-bordered w-full'"
      [placeholder]="placeholder()"
      [disabled]="disabled() || isDisabled()"
      (blur)="onBlur()"
      readonly
      class="date-range-picker-input"
    />
    <div class="absolute right-3 top-1/2 -translate-y-1/2 pointer-events-none">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-base-content/50"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
        />
      </svg>
    </div>
  </div>
</div>
