.modal-box.assign-template {
  max-width: 80vw;
  width: 80vw;
  max-height: 90vh;
  overflow-y: auto;
}

@media (min-width: 1024px) {
  .modal-box.assign-template {
    max-width: 70vw;
    width: 70vw;
  }
}

